/*===GLOBAL===*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*===TEXT===*/
h1, h2, h3 {
  font-family: 'Inknut Antiqua', serif;
  font-variant: small-caps;
  color: #0e367c;
}

h1{
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

p, a, label, ::placeholder {
  font-family: 'Abel', sans-serif;
  font-size: 1.25em;
  color: #0e367c;
  margin: 3px;
  padding: 3px;
}

/*===LINKS and LISTS===*/
a {
  text-decoration: none;
  font-variant: small-caps;
}

a:hover {
  color: #f44242;
  border-bottom: 1px dotted #f44242;
}

li {
  list-style: none;
}

/*===BUTTONS===*/
button {
  font-family: 'Abel', sans-serif;
  font-size: 0.9em;
  border-radius: 5px;
}

button:hover {
  color: #fba257;
}

/*===IMAGES===*/
i {
  font-size: 2.5em;
}

/*===BODY===*/
body {
  font-size: 1em;
  line-height: 1.5;

  /* background: linear-gradient(rgba(255,255,255, 0.6), rgba(255,255,255,0.6)), url('../imgs/frontend/home/home_desktop.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: top right;
}

/*===HEADER===*/
header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*===MAIN===*/

/*===FOOTER===*/
footer {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.media-links {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
