/*===GLOBAL===*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*===TEXT===*/
h1{
  font-family: 'Inknut Antiqua', serif;
  font-variant: small-caps;
  font-size: 2em;
  color: #0e367c;
  text-shadow: 1px 1px #fff;
}

/*===Main===*/
main {
  margin-top: 50px;
  display: flex;
}

/*===for p, a, label===*/
p, a, label, ::placeholder {
  font-family: 'Abel', sans-serif;
  font-size: 1.25em;
  color: #0e367c;
  margin: 3px;
  padding: 3px;
}

/*===LINKS and LISTS===*/
a {
  text-decoration: none;
  font-variant: small-caps;
}

a:hover {
  color: #f44242;
  border-bottom: 1px dotted #f44242;
}

li {
  list-style: none;
}

/*===header===*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 5px;
}

#mha {
  font-size: 2.5em;
  margin-bottom: 5px;
  padding: 20px 80px 5px;
  border-bottom: 5px double #f44242;
  text-shadow: 1px 2px #fba257;
}

nav {
  font-size: 45px;
}

/*===BUTTONS===*/
#update-profile {
  font-family: 'Abel', sans-serif;
  border-radius: 5px;
  font-size: 40px;
  font-variant: small-caps;
  padding: 5px;
  color: #0e367c;
  margin-left: 95px;
}



/*============POSTS==========*/

/*===show-post and show-comments button===*/
#show-posts, #show-comments {
font-family: 'Abel', sans-serif;
font-size: 20px;
border-radius: 5px;
padding: 5px;
color: #0e367c;
}





/*===Posts Div===*/
#postTitle, #postBody {
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 50px;

}



/*===IMAGES===*/
i {
  font-size: 2.5em;
}

/*===BODY===*/
body {
  font-size: 1em;
  line-height: 1.5;
  background: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255,0.6)), url('../imgs/profile/profile_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  }

/*===HEADER===*/
header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*===MAIN===*/
.sectionHeadline {
  margin: 3px;
  padding: 3px 20px;
  border-bottom: 3px double #0e367c;
  font-variant: small-caps;
  color: #0e367c;
  text-shadow: 0.5px 0px #f44242;
}

/*===FORMS===*/

form {
  margin-top: 5px;
  margin-left: 190px;
  border: 3px solid #0e367c;
  height: 350px;
  width: 350px;
  padding: 15px;
}

/*===Left Form===*/
#profile-form {
  padding-right: 30px;
}

/*===Right Form===*/
#profile-results{
  margin-left: 425px;
  padding-right: 30px;
}

/*===Affects the h1 left form */
#left {
  margin-top: 20px;
  margin-left: 75px;
}

/*===label===*/
label {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #0e367c;
  text-shadow: 0.5px 0px #f44242;
}

/*===input===*/
input {
  font-family: 'Abel', sans-serif;
  font-size: 0.8em;
  padding: 12px 5px;
  width: 275px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 20px;
}

/*===FOOTER===*/
footer {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*===media-links===*/
.media-links {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/*===right-side-div */
#right-side {
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  color: #0e367c;
}


/* This class comes from the profile.js
in lines 76 and 82 */
.responseInfo, #displayUsername, #displayPrimaryEmail{
  color: black;
  /* text-shadow: 1px 1px #fff; */
  font-size: 35px;
  margin-left: 30px;
}



.postCommentButton {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}



.ok {
  margin-top: 50px;
}

#userCommentDisplay {
  font-size: 20px;
}
